body {
    background-image: url(../assets/casinoachtergrond.png);
}

h1 {
    font-size: 5em;
    background: linear-gradient(to bottom, gold, brown);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    list-style: none;
}

button {
    border-radius: 50%;    
    border-style: solid;
    aspect-ratio: 1;
}

button.hover {

}
