* {
    box-sizing: border-box;
}

body {
    /* background-image: url(../assets/casinoachtergrond.png); */
}

main {
    perspective: 100em;
}

 /* display */
.display {
    margin: auto;
    padding: 5em;
    max-width: 50%;
    background-color: darkred;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: 5em;
    /* background: linear-gradient(to bottom, gold, brown); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

ul {
    list-style: none;
}

.card {
  background: lightblue;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.card > a {
  display: flex;
  flex-direction: column;
}

.card-photo {
  width: 30%;
  height: 30%;
}

.selected {
    background-color: greenyellow;
}

/* controls */
.controls {
    background-color: red;
    transform-origin: center top;
    transform: rotateX(45deg);
    height: 10em;
    max-width: 50%;
    margin: auto;
    padding: 5em;
}

div.playbuttons {
   
}

button {
    border-radius: 50%;    
    border-style: solid;
    aspect-ratio: 1;
}

button.hover {

}


/* bottom */
.bottom {
    transform-origin: top;
    background-color: blue;
    max-width: 50%;
    margin: auto;
    padding: 5em;
    transform:translateY(-2.92em) translateZ(7.07em);
}