:root {
  --carousel-grootte: 18.5rem;
}

* {
  box-sizing: border-box;
}

body {
    background-image: url(../assets/casinoachtergrond.png);
}

main {
  perspective: 100em;
}

section {
    border-style: solid;
    border-color: gold;
    border-width: 0.25em;
}

 /* display */
.display {
    margin: auto;
    padding: 14em;
    max-width: 50%;
    background-color: green;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

h1 {
  /* font-size: 5em;
    background: linear-gradient(to bottom, gold, brown);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; */
}

ul {
    list-style: none;
    margin: 4em;
}

ul li {

}

.card {
    background-color: white;
    display: block;
    position: absolute;
    width: 8em;
    height: 10em;
    border-left: solid gold;
    border-right: solid gold;
    border-width: 0.35em;
}

.card > a {
  display: flex;
  flex-direction: column;
}

.card-photo {
    width: 100%;
}

.card-name {
    visibility: hidden;
}


.selected {
  background-color: greenyellow;
}

/* controls */
.controls {
  background-color: red;
  transform-origin: center top;
  transform: rotateX(45deg);
  height: 10em;
  max-width: 50%;
  margin: auto;
  padding: 3.3em;
}

div.playbuttons {
}

button {
  border-radius: 50%;
  aspect-ratio: 1;
  cursor: pointer;
}

button.hover {
}

/* bottom */
.bottom {
    transform-origin: top;
    background-color: blue;
    max-width: 50%;
    margin: auto;
    padding: 10em;
    transform: translateY(-2.92em) translateZ(7.07em);
}

.carousel-1 .carousel-2 .carousel-3 {
  transform-style: preserve-3d;
}

.start-spinning {
  animation: draai;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

.spinning {
  animation: draai;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.stop-spinning {

}

@keyframes draai {
  0% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

/* slot1 */
li:nth-of-type(1) {
  transform: rotateX(24deg) translateZ(var(--carousel-grootte));
}

li:nth-of-type(2) {
  transform: rotateX(48deg) translateZ(var(--carousel-grootte));
}

li:nth-of-type(3) {
  transform: rotateX(72deg) translateZ(var(--carousel-grootte));
}

li:nth-of-type(4) {
  transform: rotateX(96deg) translateZ(var(--carousel-grootte));
}

li:nth-of-type(5) {
  transform: rotateX(120deg) translateZ(var(--carousel-grootte));
}

li:nth-of-type(6) {
  transform: rotateX(144deg) translateZ(var(--carousel-grootte));
}

li:nth-of-type(7) {
  transform: rotateX(168deg) translateZ(var(--carousel-grootte));
}

li:nth-of-type(8) {
  transform: rotateX(192deg) translateZ(var(--carousel-grootte));
}

li:nth-of-type(9) {
  transform: rotateX(216deg) translateZ(var(--carousel-grootte));
}

li:nth-of-type(10) {
  transform: rotateX(240deg) translateZ(var(--carousel-grootte));
}

li:nth-of-type(11) {
  transform: rotateX(264deg) translateZ(var(--carousel-grootte));
}

li:nth-of-type(12) {
  transform: rotateX(288deg) translateZ(var(--carousel-grootte));
}

li:nth-of-type(13) {
  transform: rotateX(312deg) translateZ(var(--carousel-grootte));
}

li:nth-of-type(14) {
  transform: rotateX(336deg) translateZ(var(--carousel-grootte));
}

li:nth-of-type(15) {
  transform: rotateX(360deg) translateZ(var(--carousel-grootte));
}

@media only screen and (max-width: 600px) {

    
}
